/* ============
/*ANCHOR -  typo

    font-family: 'Josefin Sans', sans-serif;

    font-family: 'Poiret One', cursive;
============= */


h1{ 
font-size: 2rem;
color: var(--gold);
line-height: 1.8;
text-align: center;
text-transform: uppercase;
letter-spacing: .35em;

}

h2{
 font-family: 'Poiret One',sans-serif;
 line-height: 1.5;
 text-align: center;
letter-spacing: .4em;

}
 

h3{
  font-size: 1rem;
 color: var(--gold);
 font-family: 'Poiret One',sans-serif;}

h4{
  color: var(--gold);
}

p{
 font-size: 1rem;
 letter-spacing: 1px;
 line-height: 1.5em;
 color: var(--font);
}
a{ font-size: 0.7rem;}


/* ANCHOR header */
.header{
  width: 90%;
  margin: 0 auto;
}
.maintitle {
  margin-top: 2rem;
}

.subtitle{
 text-align: center;
 font-size: 1.2rem;
 margin-top: 1em;
 margin-bottom: .5em;
}

/* ANCHOR Logo Titel */

.hauptlogo1, .hauptlogo{
 aspect-ratio: 1 /1;
 width: 6rem;
 background-color: var(--backgorund);
 margin: 0 auto;
}

/*ANCHOR BILD TITEL*/



.schrift_in_bild{
 
    background-image: url(/BilderJane/Janetropez.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:  center;
  /* opacity: .5; */

  color:var(--gold);
  border: 2px solid var(--gold);
   /* position: relative;  */
   height: 300px;
   max-width: 500px;
   margin: 0  auto;  
}


.woche{
  position: relative;
  /* background-color: rgb(226, 220, 43); */
  height: 20px;
  /* max-width: 20%; */
  width: 20%;
  margin-left: 1.4vw;
  /* margin-bottom: 18vw; */
}
.mo_fr{
  position: absolute;
  right: 6%;
  top: 217%;
  /* font-size: 1rem; */
  /* text-shadow: 1px 1px 2px rgb(18, 18, 18); */
  /* text-transform: uppercase; */
  line-height: 155%;
  /* letter-spacing: .2rem; */
margin-top: 7%;
margin-bottom: 7%;
/* padding: 20px; */
/* height: 300px; */

 /* display: flex;
 flex-direction: column;
 align-items: center; */
 
/* color: rgb(10, 199, 252); */
 
/* background-color: greenyellow; */
/* opacity: .9; */



   /* border: 1px solid rgb(251, 36, 255); */

}

/* .till_late {
  color: yellow;
  border: 1px solid green;
  padding-top: 1rem;
  text-transform: lowercase;
  font-size: calc(1rem - 20%);
  
} */
/* Öffnungszeiten Samstag */
.platz{
  margin-top: 22%;
}
.sam{
  position: relative;
  /* background-color: blueviolet; */
  height: 20px;
  width: 20%;
  margin-left: 1vw;
}
.samstag, .spaet {
  position: absolute;
  right: 6%;
  /* left: 390%; */
  top: 317%;
  line-height: 155%;
  width: max-content;
  
  
}
.spaet{
  margin-top: 2.8rem;
  padding: 4%;
  color: pink; 

}

/* ANCHOR media - phone */
@media screen and (max-width: 420px){
  .schrift_in_bild {
    max-width: 200px;
    height:400px;
   
  }
  .woche{
    position: relative;
    /* background-color: rgb(226, 220, 43); */
    height: 2px;
    width: 200px;
    margin: 0 auto;
    transform: translate(-25%, -40%)

    /* margin-bottom: 18vw; */
  }
  .mo_fr{
    position: absolute;
  
    line-height: 155%;
  }
  
  .sam{
    position: relative;
    /* background-color: blueviolet; */
    /* height: 80px; */
    width: 60%;
    margin-top: 160%;
  }

  .samstag, .spaet {
    position: absolute;
    font-size: .8rem;
    left: 55%;
    top: 16%;
    line-height: 155%;
    padding-top: .1rem;
    /* margin-right: 390%; */

    /* background-color: aqua; */
    
    
  }
  .spaet {
     color: pink; 
     top: -10%;
    right: 0%;
    margin-bottom: 2px; 
  
  }

  
}
 



#titel_beschreibung{
  font-size: 0;
  color: var(--backgorund);
}


/* 
ANCHOR contact */
.info-box{
  background-color: var(--backgorund);
  margin-top: .1em;
  margin-bottom: 2.5em;
  min-height:35vh;
  display: flex;
  flex-direction: column;


}


.contact{
font-size: 1rem;
font-family: 'Poiret One',sans-serif;
font-weight: 900;
 text-decoration: none;
 background: var(--backgorund);
 color: var(--font);
 letter-spacing: .25em;
 max-width: fit-content;
 margin: 0 auto;
 cursor: pointer;
 border:none;
 padding: .5em;

  display: flex;
 justify-content: center;
 

 
}

@media screen and (min-width:660px){
  .info-box{
    flex: grid;
    flex-direction: column;
    justify-content: center;
 
   margin-top: 3%;
   margin-bottom: -5%;
  }
}


.location{
 color: var(--font);
 background-color: var(--backgorund);
}

.location:hover, .location:focus,
.contact:hover, .contact:focus{
  color: var(--gold);
  font-size: 1rem;
}


/* ANCHOR fb logo */
.facebook-logo{
 background: rgba(255, 217, 0, 0.678);
 background-image: linear-gradient(to right,rgba(255, 217, 0, 0.678)10%, rgb(30, 30, 30)95%);
 width: 100%;
 height: fit-content;
 display: flex;
 justify-content: left;
 align-items: center;
  gap: .6rem;
 margin-top: 1.5em;
 margin-bottom: 1em;
 padding: .6em 0;
 
}
#fb, #insta{
 width: 30px;
 height: 25px;
 cursor: pointer;
 opacity: none;
 margin-left:50% ;
 gap: 2.5rem;

}
#fb:hover, #fb:focus,
#insta:hover, #insta:focus{
 width:30px;
 background: rgb(255, 254, 254);
 border-radius: 50%;
 padding: .1em;
 
 


}
@media screen and (min-width:660px){
  #fb{
    width: 40px;
    height: 35px;
  }
  #fb:hover, #fb:focus{
    width:40px;
    height: 35px;
}
.facebook-logo{
  margin-top: 1em;
 margin-bottom: 1em;
}
}
/* 
ANCHOR impr */

.footer{
  display: flex;
  justify-content: center;


}

.impr{
 color:var(--font);
 text-decoration: none;
 font-family: 'Poiret One';
 font-size: .8rem;
 font-weight: 200;
 letter-spacing: 2px;
 text-align: center;
 margin-bottom: 2em;
 margin-top: 1em;

 cursor: pointer;
}

.impr:hover, .impr:focus{
 color:var(--gold);
 font-size: 1rem ;
}
.impr-tit{
  margin-bottom: 1em;
}
.impr-subtit{
  padding: 1em;
  text-align: center;
}
.impr-text{
  padding: 1em;
  text-align: center;
}
/* button  

ANCHOR button */

.btn{
 
  padding: 1em 4em 1.1em;

  background:rgb(104, 74, 74);
  border-color: var(--gold);
  border-width: 3px;
  border-style: solid;  
  border-top: 2px;
  letter-spacing: 2rem;
  font-family: 'Poiret One',sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 1em;
}
/* ANCHOR impressum text */


.impr-top{
 position: -webkit-sticky;
 position: sticky;
 top:0;
 display: flex;
 justify-content: center;
 background-color: rgb(30, 30, 30);
 margin-bottom: 1em;
}

.e-recht{
 text-decoration: none;
 color: var(--font);
 cursor: pointer;
}
.e-recht:hover, .e-recht:focus{
 color: var(--gold);
}

/* ANCHOR Datenschutz */
.daten_titel{
  color:var(--gold);
  font-size: 2rem;
}

.datenschutz{
  padding: 0 1em;
  max-width: 800px;
margin: 2em auto;
margin-bottom: 10em;

}
ol{
  list-style:square;
  color: var(--font);
  font-size: .7rem;
  text-align:left;
  margin-left: 1em;
 }
 .daten_links{
   color: var(--gold);
   font-size: 0.6rem;
 }
 .adresse{
   margin-left: 4em;
   color: var(--gold);
 }

 /* ANCHOR  jobs */
 /* main container */
 #barkeeper, #bar{
   padding-top: 8em;
 }
 /* #weil der button im wege ist erstmal */
 
 h6{padding-top: 1em;}

 .jobs{  padding: 0 1em;
  max-width: 800px;
margin:.8em auto;
margin-bottom: 10em;
letter-spacing: 2px;
font-size: 1.1rem;

 }
 .jobs_titel{
   text-align: center;
   margin-bottom: 1.2em;
   display: flex;
   justify-content: center;
   flex-direction: column;
 }
.tit{margin: 1em 0em;
text-align: center;}
/* link typo */
 .job{
   padding: .3em;
font-size: 1.6rem;
  text-decoration: none;
  color: var(--gold);
}
.tit_job{
  color: var(--gold);
  text-decoration: none;
  font-size: 1.5rem;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1em;

}
.liste_auf_anf{
  letter-spacing: 2.5px;
  padding: 0 1.5em;
}
li{
  line-height: 1.25em;
}
.back{
  font-size: 0.9rem;
}


@media screen and (min-width:660px){
  .jobs_titel, .tit{
    flex-direction: row;
    justify-content: center;

  }
}

/* ANCHOR Kontakseite */
.kontakt{display: flex;
  justify-content: center;
  align-items: center;
 margin:0 auto;
 margin-bottom: 1.5em;
 width:90%;
 font-size: 1.2rem;
}

.mail{
border: 1px solid var(--gold);
max-width: fit-content;
display: block;
text-align: center;
margin-top: 2em;
margin-bottom: 2em;
padding: 1em 2em;
}
.early{
  font-size: 0.75rem;
  padding-top: 1.1em;
  display: flex;
 justify-content: center;
  
}
.infos{
  margin-top: 1em;
  margin-bottom: .5em;
}
.infos1{
  font-size: calc(1.1rem + 10%);
  margin: .25em auto;
  text-align: center;
  width:80%;
  letter-spacing: .1rem;
}
.infos1:nth-child(5){
  margin-bottom: 2rem;
  /* background-color: pink; */
}

/* Reserveration */
.reserve1{
  width: 75%;
  /* background-color: aqua; */
  margin-bottom: 1rem;
}

.infos2{
  margin: 0.25em;
  text-align: center;
  color: var(--gold);
  font-size: 1.4rem;
}
.infos3{
  margin: 0.25em;
  text-align: center;
  color: var(--gold);
  font-size: 1.4rem;
}
.phone{
  border: 1px solid var(--gold);
  padding: 1em 2.2em;
}

.impr1{
  margin-top: 2em;
}
/* bewerbung */
.bew{
  text-align: center;
  padding: 0.5em;
}
.mailjob{
  padding-bottom: 2em;
}
.maybe{

  font-size: 1.1rem;
  text-transform: lowercase;
 
}

.image-wrapper {
  display: flex; /* Neues Attribut: Elemente horizontal zentrieren */
  justify-content: center; /* Neues Attribut: Elemente horizontal zentrieren */
}

.jane-image {
  max-width: 50%;
  height: 100%;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.jane-image2 {
  max-width: 50%;
  height: 100%;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.image-container:not(.jane-image-container) { /* Nur Bilder ohne jane-image/jane-image2 betroffen */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 960px;
}

.image-container:not(.jane-image-container) img {
  width: 100%;
  max-width: 290px;
  height: auto;
  margin: 10px;
}

@media only screen and (min-width: 600px) {
  .image-container:not(.jane-image-container) img {
    width: calc((100% - 40px) / 2);
    margin: 10px;
  }
  
  .jane-image,
  .jane-image2 {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0 auto; /* Neue Regel: Bilder horizontal zentrieren */
  }
}

/* ANCHOR text workshop*/

.text_workshop{
  width:90%;
  margin:0 auto;
}
.titel_workshop {
  font-size: 1rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  padding-bottom: .7em;
  color: var(--gold);
}
#wichtig_beachten, #wichtig_beachten_english{
  color: rgba(246, 145, 94, 0.991);
  
}
.english_below{
  color: var(--gold);
  text-align: end;
  text-decoration: none;
  letter-spacing: .2rem;
  text-transform: uppercase;
}
  
.karte, .explic{
  color:var(--gold);
  text-decoration: none;
  font-size: 1.5em;
}
.karte:hover, .karte:focus{
  border: 1px solid var(--gold);
  text-decoration: none;
  font-size: 1.5em;
  background:rgb(104, 74, 74);
  color: var(--font);
}

.text_karte{
  font-size: 1em;
  text-align: center;
  letter-spacing: .3rem;
  margin-bottom: 1em;
}
/* ANCHOR icons Karten und pdfs */


.cocktailschale{
  width:3.5rem;
  background-color: var(--gold);
}
.cocktailschale:hover,
.cocktailschale:focus{
/* background-image: url(/KartenIcons/cocktail-glass-with-liquor2.png); */
background-color:rgb(104, 74, 74);
color: var(--font);

  
}




  
  @media only screen and (min-width: 600px){
    .info-box, .contact {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      max-width: calc(500px - 3%);
      /* color: pink; */
      /* background-color: rgb(74, 74, 124); */
      margin: 0 auto;
  
    }
  }
